

#camera{
    background-color:#AFCAE5;
    width:100%;
    height:100%;
}

.btn{
	background: transparent;
}
.btn:active{
	color: #ff9a9e;

}

a:hover {
    opacity: 1!important;
}


.gradient{
	background:linear-gradient(135deg, rgba(254, 207, 239, 1) 0%,#ff9a9e  100%);
}